.ho{
    background-color: #F9FAFB;
    min-height: 100vh;
    width: 100%;
}
.s1{
    background-image: url('https://plus.unsplash.com/premium_photo-1693077054280-f76e22eb8f5f?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 2rem;
}
.h1 h1{
    font-size: 3rem;
    margin: 2rem 0rem;
    color: 	#f0f0f0;
}
.h1 span{
    color: #ffcc70;
}
.h1 h4{
    font-size: 1.2rem;
    margin-top: 1rem;
    color: #e0e0e0;
    text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.8);
    line-height: 1.5;

}
.h2 button{
    background-color: gold;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    font-weight: 550;
    color: brown;
}
.h2{
    margin: 2rem 0rem;
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.h2 button:active{
    transform: scale(0.9);
}
.s2{
    margin: 1rem 1rem;
    padding: 1rem 1rem;
}
.big{
    color: #9F2D00;
    background-color: #FFF8EC;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 3rem 2rem;
}
.h3{
    margin-bottom: 4rem;
    display: flex;
    flex-direction: column;
}
.h3 h2{
    text-decoration: underline;
}
.sma{
    padding: 0.5rem;
    display: grid;
    grid-column: auto;
    gap: 1rem;
}
.box{
    border-left: 4px solid darkorange;
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    padding: 1rem;
    background-color: white;
    width: auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.num {
    width: 15vw;
    height: 15vw;            
    border-radius: 50%;  
    max-width: 50px; 
    max-height: 50px;
    background-color: #FFEDD4;
    font-size: x-large;
    font-weight: 800;
    color: #ff8904;
    margin: 1rem 1rem 0rem 0rem;       
    text-align: center;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-top: 0.4rem;
  }
  
.con h3{
    font-size: 1.5rem;
    margin-bottom: 2rem;
}
.con p{
    font-size: 1rem;
    color: black;
    line-height: 1.5;
}
.con{
    width: 90%;
}
.trans{
    display: flex;
    gap: 3rem;
    width: 100%;
    overflow: hidden;
    margin-top: 2rem;
    position: relative;
}
.slider {
  display: flex;
  gap: 2rem;
  width: max-content;
  animation: trans 10s linear infinite;
}
.text{
    display: flex;
    gap: 3rem;
    white-space: nowrap;
    padding: 1rem 0;
}
.text p{
    font-size: 1.5rem;
    font-weight: 400;
}
.trans::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  right: 0;
  top: 0;
  background: linear-gradient(to left, white 0%, transparent 5%, transparent 95%, white 100%);
  pointer-events: none;
  z-index: 2;
}
@keyframes trans{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-33.333%);
    }
}

@media (min-width:412px){
    .h1,.h2{
        padding: 1.7rem;
        transition: all 0.2s ease-in;
    }
}
@media (min-width:633px){
    .h1,.h2{
        width: 70%;
        padding: 2.5rem;
    }
}
@media (min-width:850px){
    .h1,.h2{
        width: 56%;
    }
    .sma{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
@media (min-width:1200px){
    .h1,.h2{
        width: 55%;
    }
    .h1 h1{
        font-size: 3.2rem;
    }
    .s2{
        margin: 2rem 3rem;
        padding: 2rem 2rem;
    }
}
@media (min-width:1482px){
    .h1,.h2{
        width: 35%;
    }
    .s2{
        margin: 3rem 4rem;
        padding: 1rem 4rem;
    }
}
@media (min-width:1960px){
    .h1,.h2{
        width: 35%;
        padding: 3rem;
    }
    .h1 h1{
        font-size: 4.5rem;
    }
    .h1 h4{
        font-size: 1.5rem;
    }
    .h2 button{
        font-size: 1.5rem;
    }
    .s2{
        margin: 4rem 6rem;
        padding: 2rem 6rem;
    }
    .big{
        width: 85%;
        margin-left: 8%;
    }
}