.page {
  width: 100%;
  max-width: 1280px;
  padding: 1rem;
  min-height: calc(100vh - 100px);
}
.empty{
    opacity: 0.6;
    padding: 0rem 5rem;
}
.head{
    padding: 0rem 2rem;
    margin-bottom: 2rem;
}
.head p{
    opacity: 0.6;
    padding: 1rem 0rem;
}
.t {
    display: grid;
    grid-template-columns: 1fr; /* mobile: 1 column */
    gap: 2rem;
    margin: 2rem 0;
  }
  
  @media (min-width: 600px) {
    .t {
      grid-template-columns: repeat(2, 1fr);
      gap: 1rem;
    }
  }
  
  @media (min-width: 1024px) {
    .t {
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
    }
  }